body{
    margin: 0;
}

header{
    background-color: green;
    padding-top: .5em;
    padding-bottom: .5em;
    margin: 0;
    color: white;
    font-size: 2em;
}

#title-div{
    display: flex;
    justify-content: center;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
        margin: 2em;
    }

    div button{
        padding: 1em;
    }
}

#viewRecipePage{
    background-color: tan;
    height: 100%;
    width: 100vw;
    margin-left: -100vw;
    position: absolute;
    margin-top: -13.8em;
    transition: .5s;
    transition-timing-function: linear;
}

#addRecipePage{
    // background-color: blue;
    height: 100%;
    width: 100vw;
    margin-left: 100vw;
    position: absolute;
    margin-top: -13.8em;
    transition: .5s;
    transition-timing-function: linear;
    display: none;
}

form{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    div{
        display: flex;
        
        button{
            margin: .5em;
        }
    }
}

textarea{
    width: 80%;
    height: 5em;
}

#description{
    width: 80%;
    height: 2.5em;
}

#ingredients_div{
    flex-direction: column;
    input{
        margin-bottom: 1.5em;
    }
}

#course_selection{
    input{
        margin-left: 1em;
    }
}

#addRecipeTags{
    width: 80%;
    height: 2.5em;
}